
.edu-wrapper {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.5rem;
    margin-top: 20px;
    background-color: rgba(255,255,255,0.95);
}

.edu-title {
    border-bottom: 2px solid #d2d2d2;
    padding-bottom: 10px;
}

/*----------------------------------------*/
@media only screen and (min-width: 768px) {
    .edu-wrapper {
        margin-top: 0;
        margin-bottom: 0;
        overflow-y: scroll;
        width: 35%;
        position: absolute;
    }

    .edu-invisible {
        opacity: 0;
        transition: 3s;
        top: 1rem;
        bottom: 1rem;
        left: 50%;
        transform: translate(-50%, 0);
    }

    .edu-visible {
        opacity: 1;
        transition: 3s;
        top: 1rem;
        bottom: 1rem;
        right: 1rem;
        transform: translate(0, 0);
    }

    .edu-title {
        margin-top: 0;
    }
}

/*-------------------------------------------------------------------*/
@media only screen and (min-width: 1200px) {
    .edu-wrapper {
        width: 350px;
        max-height: 600px;
    }

    .edu-invisible {
        top: 2rem;
        bottom: 2rem;
    }

    .edu-visible {
        top: 2rem;
        bottom: 2rem;
        left: 75%;
        transform: translate(-50%, 0);
    }

    .edu-title {
        font-size: 1.3rem;
    }
}
