.projects-wrapper {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.5rem;
    margin-top: 20px;
    background-color: rgba(255,255,255,0.95);
}

.projects-title {
    border-bottom: 2px solid #d2d2d2;
    padding-bottom: 10px;
}

.projects-list {
    padding-left: 0;

}

.projects-item {
    list-style: none;
    border-bottom: 2px dotted #d2d2d2;
    padding-bottom: 5px;
    margin-bottom: 5px;
}

.projects-item:last-child {
    border-bottom: none;
}

.project-link {
    text-decoration: none;
    cursor: pointer;
    color: #000;
    font-weight: 600;
}

.project-description {
    font-size: 12px;
    color: #909593;
}

.first-line {
    margin-bottom: 0;
}

.second-line {
    margin-top: 0;
}

/*---------------------------------------------*/
@media only screen and (min-width: 768px) {
    .projects-wrapper {
        margin-top: 0;
        width: 35%;
        overflow-y: scroll;
        position: absolute;
    }

    .project-invisible {
        opacity: 0;
        transition: 3s;
        top: 1rem;
        bottom: 1rem;
        left: 50%;
        transform: translate(-50%, 0);
    }

    .project-right {
        opacity: 1;
        transition: 3s;
        top: 1rem;
        bottom: 1rem;
        right: 1rem;
        transform: translate(0, 0);
    }





    .projects-title {
        margin-top: 0;
    }
}

/*-----------------------------------------------------*/
@media only screen and (min-width: 1200px) {
    .projects-wrapper {
        width: 350px;
        max-height: 600px;
    }

    .project-invisible {
        top: 2rem;
        bottom: 2rem;
    }

    .project-right {
        top: 2rem;
        bottom: 2rem;
        left: 75%;
        transform: translate(-50%, 0);
    }

    .projects-title {
        font-size: 1.3rem;
    }

    .projects-item:last-child {
        border-bottom: 2px dotted #d2d2d2;
    }

    .project-link {
        font-size: 1.25rem;
    }

    .project-description {
        font-size: 1rem;
        margin-top: 0;
        margin-bottom: 0.5rem;
    }

    .first-line {
        margin-bottom: 0;
    }
}